/*base page */

html {
    font-weight: 300;
}

nav .brand-logo {
    padding-left: 10px;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icon {
    background: white;
    border-radius: 100%;
    display: inline-block;
    color: #4F4D54;
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    margin: 0 4px;
    text-align: center;
    width: 42px;
}

.social-icon:hover {
    background: #5E35B1;
    color: white;
}


/*footer*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


/*home page*/

.clearfix {
    margin: 75px;
}

.home-content {
    padding-left: 20px;
}

sup {
    top: -0.5em;
    font-size: 75%;
}


/*about page */

.about-para {
    line-height: 23px;
}

.about-details {
    line-height: 30px;
}

.service {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    color: #232323;
    margin-bottom: 20px;
    padding: 40px 0;
    text-align: center;
    transition: all 0.25s ease 0s;
}

.service:hover {
    background: #5E35B1 none repeat scroll 0 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    color: #fff;
}


/*skill page*/
.list-icons{
    line-height: 50px;
}

.list-icons > li > i {
    color: #7e50ff;
    padding-right: 10px;
}

.list-icons > li {
    color: #232323;
}

#english_circle strong {
    font-size: 30px;
}

#german_circle strong {
    font-size: 30px;
}

.progress-bar-info {
    background-color: #7e57c2 !important;
}


/*education page*/
