<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="{% static 'css/icon.css' %}" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
    <link rel="stylesheet" href="{% static 'libs/font-awesome-4.5.0/css/font-awesome.min.css' %}">

    {% include 'css.html' %}


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block head_title %}{% endblock %}</title>
</head>

<body>
<header>
    <div class="navbar-fixed-top">
        <nav>
            <div class="nav-wrapper">
                <a href="{% url 'home' %}" class="brand-logo">Kybrdbnd</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'skills' %}">Skills</a></li>
                    <li><a href="{% url 'education' %}">Education</a></li>
                    <li><a href="{% url 'projects' %}">Projects</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'skills' %}">Skills</a></li>
                    <li><a href="{% url 'education' %}">Education</a></li>
                    <li><a href="{% url 'projects' %}">Projects</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col m4 s12 center">
                <h5 class="white-text">Address</h5>

                <p class="grey-text text-lighten-4">RZ-6, II<sup>nd</sup> Floor, <br>Indra Park, Uttam Nagar <br> Near
                    Tilak Pul,
                    New Delhi-110059</p>
            </div>
            <div class="col m4 s12 center">
                <h5 class="white-text">Connect</h5>

                <div class="social-icons">
                    <a class="social-icon" href="#"><i class="fa fa-facebook"></i></a>
                    <a class="social-icon" href="#"><i class="fa fa-twitter"></i></a>
                    <a class="social-icon" href="#"><i class="fa fa-google-plus"></i></a>
                    <a class="social-icon" href="#"><i class="fa fa-github"></i></a>
                </div>
            </div>
            <div class="col m4 s12 center">
                <h5 class="white-text">Contact</h5>

                <p class="grey-text text-lighten-4">Tel: +91-8860270019 <br>
                    Mail: pranavpuri.p@hotmail.com</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            © 2016 Developed by Pranav Puri(kybrdbnd)
        </div>
    </div>
</footer>
{% include 'js.html' %}
{% block extra_js %}
{% endblock %}
<script>
    $(".button-collapse").sideNav();
</script>
</body>
</html>