{% load staticfiles %}

<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{#<link href="{% static 'css/icon.css' %}" rel="stylesheet">#}
{#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">#}
<link rel="stylesheet" href="{% static 'libs/progressbar/css/bootstrap-progressbar-3.3.4.css' %}">
<link rel="stylesheet" href="{% static 'libs/font-awesome-4.5.0/css/font-awesome.min.css' %}">