{% extends 'base.html' %} {% load staticfiles %} {% block head_title %}Education{% endblock %} {% block content %}
<div class="container">
    <br>
    <h5>EDUCATIONAL VALUE</h5>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col m4 s12 push-m6 center">
            <div class="card-panel hoverable">
               <h3>2011</h1>
                <p>passed 10th</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m4 s12 center">
            <div class="card-panel hoverable">
            <h3>2013</h3>
            <p>Passed 12th</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m4 s12 push-m6 center">
            <div class="card-panel hoverable">
            <h3>2013 - Now</h3>
            <p>Currently Bachelors in Computer Science</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
