{% extends 'base.html' %} {% load staticfiles %} {% block head_title %}Education{% endblock %} {% block content %}
<div class="container">
    <br>
    <h5>EDUCATIONAL VALUE</h5>
    <div class="clearfix"></div>
    <div class="education-timeline">
        <div class="experience-block">
            <div class="content">
                <h5>Senior Web & UX Designer</h5>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velitus sed quia non num quam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            </div>
            <div class="icon">
                <i class="ion-easel"></i>
            </div>
            <div class="line"></div>
        </div>
        <div class="experience-block">
            <div class="content">
                <h5>Senior Web & UX Designer</h5>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velitus sed quia non num quam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            </div>
            <div class="icon">
                <i class="ion-easel"></i>
            </div>
            <div class="line"></div>
        </div>
        <div class="experience-block">
            <div class="content">
                <h5>Senior Web & UX Designer</h5>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velitus sed quia non num quam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            </div>
            <div class="icon">
                <i class="ion-easel"></i>
            </div>
            <div class="line"></div>
        </div>
    </div>
</div>
{% endblock %}
