{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}Home{% endblock %}
{% block content %}
    <div class="container">
        <div class="clearfix"></div>

        <div class="row">
            <div class="col s12 m4">
                <div class="profile-pic">
                    <img src="{% static 'img/pp.jpg' %}" class="hoverable" height="75%" width="75%">
                </div>
            </div>
            <div class="col s12 m8">
                <h3>DESIGN<sup>+</sup> DEVELOP<sup>+</sup> <br>INTERACTIVE<sup>+</sup> ART<sup>+</sup></h3>
                Hello, I'm Pranav Puri. I Have 2 years of experience in Web and UX design. <br> I am currently doing
                bachelors in Computer Science Engineering from SRM University.
                <div class="row">
                    <div class="col m6 s12">
                        <p>
                            <a class="waves-effect waves-light btn">
                                Download CV
                            </a>
                        </p>
                    </div>
                    <div class="col m6 s12 center">
                        <p>
                            <a class="waves-effect waves-light btn">
                                Hire Me Now
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}