{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %}Work{% endblock %}
{% block content %}
    <div class="container">
        <br>
        <h5>PORTFOLIO</h5>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col m6">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'img/pic1.png' %}" class="materialboxed">
                    </div>
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-4">Material Design Website</span>

                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="https://github.com/kybrdbnd/python_website" target="__blank"><i
                                class="fa fa-github fa-3x"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'img/pic2.png' %}" class="materialboxed">
                    </div>
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-4">Project Amigo</span>

                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="https://github.com/kybrdbnd/amigo" target="__blank"><i class="fa fa-github fa-3x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col m6">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'img/pic3.png' %}" class="materialboxed">
                    </div>
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-4">Registration Software</span>

                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="https://github.com/kybrdbnd/Registration_Panel" target="__blank"><i
                                class="fa fa-github fa-3x"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col m6">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'img/pic4.png' %}" class="materialboxed">
                    </div>
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-4">Mini Project</span>

                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="https://github.com/kybrdbnd/Python_Games" target="__blank"><i
                                class="fa fa-github fa-3x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col m6">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'img/pic5.png' %}" class="materialboxed">
                    </div>
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-4">Personal Blog</span>

                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="https://github.com/kybrdbnd/winter" target="__blank"><i class="fa fa-github fa-3x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}