{% extends 'base.html' %} {% load staticfiles %} {% block head_title %}Work{% endblock %} {% block content %}
<div class="container">
    <br>
    <h5>PORTFOLIO</h5>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col m5 push-m6">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'img/pic1.png' %}" class="materialboxed">
                </div>
            </div>
        </div>
        <div class="col m7 pull-m5">
            <h5>Material Design Website</h5>
            <p class="project-description">
            This is a sample material design website. Made using <a href="http://materializecss.com/about.html" target="__blank">materialize.css</a>.
            <br><br>Source Code:   
                <a class="deep-purple lighten-1 waves-effect waves-light btn" href="https://github.com/kybrdbnd/python_website" target="__blank">
                   
                        <i class="fa fa-github left"></i>Github</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m5">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'img/pic2.png' %}" class="materialboxed">
                </div>
            </div>
        </div>
        <div class="col m7">
            <h5>Project Amigo</h5>
            <p class="project-description">
            Another material design website focusing on Project Amigo(in development).
            <br><br> Source Code:
            <a class="deep-purple lighten-1 waves-effect waves-light btn" href="https://github.com/kybrdbnd/amigo" target="__blank">
              
                    <i class="fa fa-github left"></i>Github</a>
           
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col m5 push-m6">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'img/pic3.png' %}" class="materialboxed">
                </div>
            </div>
        </div>
        <div class="col m7 pull-m5">
            <h5>Registration Panel</h5>
            <p class="project-description">
            Registration Panel is a prototype project which is used for registration <br>purposes in college fests.
            The software is developed in Python using <br>Tkinter Module.
            <br><br>Source Code: 
            <a class="deep-purple lighten-1 waves-effect waves-light btn" href="https://github.com/kybrdbnd/Registration_Panel" target="__blank">
                <i class="fa fa-github left"></i>Github
            </a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col m5">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'img/pic4.png' %}" class="materialboxed">
                </div>
            </div>
        </div>
        <div class="col m7">
            <h5>Python Games</h5>
            <p class="project-description">
            Its a mini project that I made in my 2 <sup>IInd</sup>year. The main focus of this project is to
            get the feel of basic UI elements of GUI. The project is developed in Python using Tkinter Module.
            <br><br>Source Code: 
            <a class="deep-purple lighten-1 waves-effect waves-light btn" href="https://github.com/kybrdbnd/Python_Games" 
            wtarget="__blank">
                
                    <i class="fa fa-github left"></i>Github</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col m5 push-m6">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'img/pic5.png' %}" class="materialboxed">
                </div>
            </div>
        </div>
        <div class="col m7 pull-m5">
            <h5>Blog</h5>
            <p class="project-description">
            Its my personal blog still in development phase. Its made using <br>Bootstrap3 and supported by Django Framework. <br><br>Source Code:
            <a class="deep-purple lighten-1 waves-effect waves-light btn" href="https://github.com/kybrdbnd/winter" target="__blank"> 
                <i class="fa fa-github left"></i>Github</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
